:root {
  /* Rendering */
  font-family:
    Departure Mono,
    monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  /* Colors */
  --amber: #ffa133;
  --pumpkin: #e47b1a;
  --flux: #c8be50;
  --periwinkle: #8f99fb;
  --foam: #bccabb;
  --enamel: #eeeeee;
  --cement: #c0c0c0;
  --aluminum: #cccccc;
  --ash: #8e8e8e;
  --mud: #8a8a6f;
  --clay: #6c6c58;
  --smoke: #666666;
  --dark: #444444;
  --soot: #333333;
  --carbon: #222222;
  --black: #141414;

  /* Theme */
  --link: blue;
  --border: var(--smoke);
  --accent: var(--amber);
  --fg: var(--dark);
  --bg: var(--enamel);
  color: var(--fg);
  background-color: var(--bg);
}

@font-face {
  font-family: DepartureMono;
  src:
    url("/fonts/DepartureMono-1.500/DepartureMono-Regular.woff2")
      format("woff2"),
    url("/fonts/DepartureMono-1.500/DepartureMono-Regular.woff") format("woff"),
    url("/fonts/DepartureMono-1.500/DepartureMono-Regular.otf")
      format("opentype");
}

body {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  margin: 0;
}

main {
  width: 720px;
  padding: 2rem;
  border-left: 2px dashed var(--border);
  border-right: 2px dashed var(--border);
}

@media screen and (max-width: 800px) {
  main {
    width: auto;
    border-left: none;
    border-right: none;
  }
}

a {
  color: var(--link);
}

h1#henry-unite {
  margin-bottom: 0;
}

h1#henry-unite + p {
  margin: 5px 0 1rem 0;
}

h1#henry-unite + p + ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

#more-experience,
#more-projects,
#more-blog-posts {
  font-size: 1rem;
}
